<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Home</title>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
</script>
<![endif]-->
<style>
body {
    font-family: Verdana,sans-serif;
    font-size: 0.9em;
}

header, footer {
    padding: 10px;
    color: white;
    background-color: black;
}

section {
    margin: 5px;
    padding: 10px;
    background-color: lightgrey;
}

article {
    margin: 5px;
    padding: 10px;
    background-color: white;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 5px;
}
</style>
</head>

<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block content %}
{% if user.is_authenticated %}
<header>
<h1>What to-do?</h1>
</header>

<h3>Hello {{ user.username }}!</h3>
<nav>
	<ul>
		
  		<li><a href="{% url 'home' %}">Home</a></li>
		<li><a href="{% url 'votemachine:questionmachine' %}">Todo-list</a></li>		
		<li><a href="{% url 'admin:index' %}">Admin portal</a></li>
		<li><a href="{% url 'logout' %}">Logout</a></li>
	  
	  <p>In Todo-list, you can view your existing todo-list items, add new items, update existing items or delete items</p>
	</ul>
</nav>

{% else %}
<header>
<h1>Miika's votemachine</h1>
</header>

<h3>You should log in first</h3>
<nav>
	<ul>
	  
	  <li><a href="{% url 'login' %}">Login</a></li>
	  <li><a href="{% url 'signup' %}">Or sign up</a></li>
	 
	  
	</ul>
</nav>

  

{% endif %}
{% endblock %}